<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="r05cmkjA1lRP0f2DXc1aFLOb7L4iykQDDcW2W7NG1kk" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Local Job Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='log.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Enter Mobile number" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
        <p>New User? <a href="/signup">Register Here</a></p>
        
    </div>
    <p><a href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>
</body>
</html>
